{% if greeting_list %}
    <ul>
    {% for greeting in greeting_list %}
        <li>
          {{ greeting.message }}
          <span><a href="{% url 'greetings:update' greeting.id %}">edit</a></span>
          <span><a href="{% url 'greetings:delete' greeting.id %}">delete</a></span>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No greetings are available.</p>
{% endif %}
<img src ="https://thedailyquirk.files.wordpress.com/2014/06/himym02.jpg"><br>
<a href="{% url 'greetings:create' %}">Create a New Greeting</a><br/>
<a href="{% url 'greetings:newpage' %}"> A Quote from one of my fav shows</a> <br />
<a href= "https://youtu.be/EKQT7WjPUIk">video of the actor saying the quote</a> <br/>
